{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-command">
    <a href="home">
        <div class="container-month" style="background-color:#ffb3ba">
            <div class="label-month">January</div>
        </div>
    </a>
    <a href="home">
        <div class="container-month" style="background-color:#ffdfba">
            <div class="label-month">February</div>
        </div>
    </a>
    <a href="home">
        <div class="container-month" style="background-color:#ffffba">
            <div class="label-month">March</div>
        </div>
    </a>
    <a href="home">
        <div class="container-month" style="background-color:#baffc9">
            <div class="label-month">April</div>
        </div>
    </a>
    <a href="home">
        <div class="container-month" style="background-color:#bae1ff">
            <div class="label-month">May</div>
        </div>
    </a>
    <a href="home">
        <div class="container-month" style="background-color:#eccdfa">
            <div class="label-month">June</div>
        </div>
    </a>
    <a href="home">
        <div class="container-month" style="background-color:#eccdfa">
            <div class="label-month">July</div>
        </div>
    </a>
    <a href="home">
        <div class="container-month" style="background-color:#bae1ff">
            <div class="label-month">August</div>
        </div>
    </a>
    <a href="home">
        <div class="container-month" style="background-color:#baffc9">
            <div class="label-month">September</div>
        </div>
    </a>
    <a href="home">
        <div class="container-month" style="background-color:#ffffba">
            <div class="label-month">October</div>
        </div>
    </a>
    <a href="home">
        <div class="container-month" style="background-color:#ffdfba">
            <div class="label-month">November</div>
        </div>
    </a>
    <a href="home">
        <div class="container-month" style="background-color:#ffb3ba">
            <div class="label-month">December</div>
        </div>
    </a>
</div>
{% endblock %}
