{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
        <h3>Welcome!</h3>
        
        <h4>
        Thank you for taking the time to visit my website! For every month in 2019, I hope to complete a unique personal project.
        Join me as I destroy my quality of life trying to balance this lofty goal, coursework, sleep, and a social life!
        </h4>

        <hr>
</div>

<div class="container-command">
    <a href="{% url 'cavern:january_cavern_view' %}">
        <div class="container-month" style="background-color:#ffb3ba">
            <div class="label-month">January
                <hr>
                <div class="label-project">chrjlim.io</div>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="container-month" style="background-color:#ffdfba">
            <div class="label-month">February
                <hr>
                <div class="label-project">Unknown!</div>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="container-month" style="background-color:#ffffba">
            <div class="label-month">March
                <hr>
                <div class="label-project">Unknown!</div>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="container-month" style="background-color:#f3ffe3">
            <div class="label-month">April
                <hr>
                <div class="label-project">Unknown!</div>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="container-month" style="background-color:#baffc9">
            <div class="label-month">May
                <hr>
                <div class="label-project">Unknown!</div>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="container-month" style="background-color:#c4faf8">
            <div class="label-month">June
                <hr>
                <div class="label-project">Unknown!</div>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="container-month" style="background-color:#a79aff">
            <div class="label-month">July
                <hr>
                <div class="label-project">Unknown!</div>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="container-month" style="background-color:#dcd3ff">
            <div class="label-month">August
                <hr>
                <div class="label-project">Unknown!</div>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="container-month" style="background-color:#bae1ff">
            <div class="label-month">September
                <hr>
                <div class="label-project">Unknown!</div>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="container-month" style="background-color:#aff8d8">
            <div class="label-month">October
                <hr>
                <div class="label-project">Unknown!</div>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="container-month" style="background-color:#ffffba">
            <div class="label-month">November
                <hr>
                <div class="label-project">Unknown!</div>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="container-month" style="background-color:#ffb3ba">
            <div class="label-month">December
                <hr>
                <div class="label-project">Unknown!</div>
            </div>
        </div>
    </a>
</div>
{% endblock %}
