html, body {
    min-height: 100%;
    background-color: #ffffff;
    margin: 0;
    margin-top:-10px;
    padding: 0;
    font-family: Fauna One;
    position: relative
}

h1 {
    text-align: center;
    font-family: PlayFair Display;
    font-size: 50px;
    color: #000000;
    margin-bottom: -15px;
}

h2 {
    text-align: center;
    font-family: Fauna One;
    font-size: 20px;
    color: #00000090;
    margin-left: 20px;
    margin-right: 20px;
}

hr {
    width: auto;
    margin: 10px;
}

a {
    text-decoration: none !important;
    color: #000000 !important;
}

.fab, .fas {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 8px;
}

.greeting {
    display: flex;
    flex-wrap: wrap;
}

footer {
    margin-right: 10px;
    position: fixed;
    bottom: -15px;
    right: 0px;
}

.contact-logos {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    background-color: #00000060
}
