.cavern-heading {
    background-color: #ffb3ba;
    min-height: 150px;
    width: auto;
    border: black;
    margin: 20px;
}

.cavern-sub-heading {
    width: auto;
    margin-left: 35px;
    margin-bottom: 20px;
    font-size: 28px;
}

.cavern-sub-section {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    text-align: justify;
}
