.container-command {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.container-month{
    height: 300px;
    width: 300px;
    border-radius: 35%;
    display: flex;
    justify-content: center; /* align horizontally */
    align-items: center; /* align vertically */
    margin-top: 10px;
    margin-bottom: 10px;
}

.label-month {
    font-size: 40px;
    margin-top: -20px;
}

.label-project {
    font-size: 16px;
    text-align: center;
}

hr {
    width: auto;
    margin: 10px;;
}
