.container-command {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-month{
    min-height: 400px;
    min-width: 400px;
    border-radius: 35%;
    display: flex;
    justify-content: center; /* align horizontally */
    align-items: center; /* align vertically */
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
}

.label-month {
    font-size: 50px;
    margin-top: -20px;
}

.label-project {
    font-size: 24px;
    text-align: center;
}

hr {
    width: auto;
    margin: 10px;
}
