{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="cavern-heading">
        <h1>January</h3>  

        <h2>The chrjlim.io website</h4>
</div>
<hr>

<div class="cavern-section">
        <div class="cavern-sub-heading">Did a little bit of cheating...</div>
        <div class="cavern-sub-section">
                <p>I actually had plenty of free time over my winter break to pursue my new year-long commitment. So, I decided to start this shindig a little early.
                I started off just doing some sketches about how I wanted the site to generally look like, as well as what framework I wanted to use, how I wanted to host the site,
                and briefly brainstormed additional projects I wanted to try out. I went a little gungho, however, and finished the site before the new year started. 
                However, there was still the matter of who's hosting the site, as well as preliminary preparation for my next month's project. It's much more ambitious, and 
                so I'm planning on reaping the extra couple of weeks for some refreshers.</p>

        </div>

        <div class="cavern-sub-heading">A not-so extraordinary amount of time on colors...</div>
        <div class="cavern-sub-section">
                <p>I've noticed that a lot of pleasant-to-look-at websites arrange their cards in rows of 3. I found that interesting and tried messing around with the arrangment of the 
                cards in different combinations but found the dimensions of the cards too small, the spacing cramped, or the website as a whole just simply uncomfortable. I focused on making 
                the site mobile-responsive through the use of flexboxes, however, and so would place the cards in rows of 1 or 2 to maintain a sensible amount of size and padding.</p>

                <p>This is the first time I designed something from the ground up independently. I had no theme to extend, and so had to come up with something myself. What followed were multiple
                days of me literally picking different colors. I recruited the help of an artisticly-critical friend who helped me settle on a combination of color choices that didn't make me fidget.
                In the end, we settled on a pastel color palette, which I found warm and inviting.</p>

        </div>

        <div class="cavern-sub-heading">Under the hood...</div>
        <div class="cavern-sub-section">
                <p>I decided to use Django for development, the main reason being that I simply love the intuitive and convenient nature of the framework.
                I am also planning on hooking the backend up with AWS to gain some exposure on interacting with cloud platforming. I hope that this brief stint 
                can benefit me as my upcoming workplace is all about AWS, and only AWS.</p>
                <p>I mapped my URLs around terms elicting vibes of undersea exploration (I binged Deadliest Catch this winter break which led me to look up a bunch
                of random things about the ocean on Wiki and it all snowballed from there), and find it to be a small but fun little personal addition to the site. 
                The domain name could have been something rather straightforward and boring, but I found the $60/year I paid for my domain worth it. 
                </p>
                <!--TODO: Update once AWS is running-->
        </div>
</div>

{% endblock %}